<section class="clients" aria-labelledby="clients-heading">
  <div class="clients__inner">
    <div class="clients__header">
      <span class="section__label"><%= ui.clients.label %></span>
      <h2 class="clients__title" id="clients-heading">
        <%= ui.clients.title %>
      </h2>
      <p class="clients__desc"><%= ui.clients.desc %></p>
    </div>
  </div>

  <div class="clients__marquee">
    <div class="clients__fade clients__fade--left" aria-hidden="true"></div>
    <div class="clients__fade clients__fade--right" aria-hidden="true"></div>
    <div class="clients__track">
      <% clients.forEach(function(client) { %>
        <div class="clients__logo" title="<%= client.name %>">
          <img src="<%= client.logo %>" alt="<%= client.name %>" width="140" height="48" loading="lazy" decoding="async">
        </div>
      <% }) %>
      <% clients.forEach(function(client) { %>
        <div class="clients__logo" aria-hidden="true">
          <img src="<%= client.logo %>" alt="" width="140" height="48" loading="lazy" decoding="async">
        </div>
      <% }) %>
    </div>
  </div>
</section>
