<div class="divisions-grid">
  <% divisions.forEach(function(division, i) { %>
    <a href="<%= division.href %>" class="division-card">
      <div class="division-card__visual" style="background-image: url('<%= division.image %>')"></div>
      <div class="division-card__body">
        <span class="division-card__num"><%= String(i + 1).padStart(2, '0') %></span>
        <h3><%= division.title %></h3>
        <p><%= division.shortDesc %></p>
        <span class="card-link"><%= ui.common.learnMore %></span>
      </div>
    </a>
  <% }) %>
</div>
