<%-

  include('../partials/page-hero', {

    breadcrumbs: [{ label: ui.common.home, href: '/' }, { label: ui.industries.breadcrumb }],

    pageLabel: ui.industries.pageLabel,

    pageTitle: ui.industries.pageTitle,

    pageDesc: ui.industries.pageDesc

  })

%>



<section class="section">

  <div class="section__inner">

    <div class="industries-grid">

      <% industries.forEach(function(industry) { %>

        <a href="/branze/<%= industry.slug %>" class="industry-card industry-card--link">

          <div class="industry-card__visual" style="background-image: url('<%= industry.image %>')"></div>

          <div class="industry-card__content">

            <h3><%= industry.title %></h3>

            <p><%= industry.shortDesc %></p>

            <span class="card-link"><%= ui.industries.seeDetails %></span>

          </div>

        </a>

      <% }) %>

    </div>

  </div>

</section>



<%- include('../partials/cta-banner') %>

