<%- include('../partials/inner-hero', {
  heroEyebrow: loc.servicesPage.eyebrow,
  heroTitle: loc.servicesPage.title,
  heroSub: loc.servicesPage.subtitle
}) %>

<section class="section section--tight">
  <div class="container">
    <% var staffing = loc.divisions.filter(function(d){ return ['agency','temporary','recruitment','outsourcing'].indexOf(d.id) > -1; }); %>
    <div class="card-grid card-grid--2" data-reveal-children data-stagger="90">
      <% staffing.forEach(function(d, i) { %>
        <div class="card card--tall">
          <span class="card__index"><%= String(i + 1).padStart(2, '0') %></span>
          <span class="card__icon"><%- include('../partials/icon', { name: d.icon }) %></span>
          <h3 class="card__title"><%= d.title %></h3>
          <p class="card__desc"><%= d.desc %></p>
          <ul class="card__points">
            <% d.points.forEach(function(p) { %>
              <li><%- include('../partials/icon', { name: 'check' }) %><%= p %></li>
            <% }) %>
          </ul>
          <div class="card__foot">
            <a href="/wspolpraca" class="link-arrow"><%= ui.cta.learnMore %><%- include('../partials/icon', { name: 'arrow' }) %></a>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</section>

<%- include('../partials/clients-marquee') %>
